@font-face {
    font-family: 'Roboto-Bold';
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 3em;
    font-family: 'Roboto-Bold';
}

h2,
p,
li,
label,
button,
div,
a {
    font-family: 'Roboto-Regular';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37384c;
    height: 100vh;
}

.container {
    background-color: #fffefe;
    border-radius: 3em;
    padding: 3em;
    width: 25%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 1em;
    padding: 1em 1.5em 1em 1.5em;
    cursor: pointer;
}

a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 768px) {
    body {
        display: block;
        margin: 0;
        padding: 0;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        width: auto;
        height: 100vh;
        border-radius: 0%;
    }
}