@font-face {
    font-family: 'Roboto-Bold';
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 3em;
    font-family: 'Roboto-Bold';
}

h2,
p,
li,
label,
button,
div,
a {
    font-family: 'Roboto-Regular';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37384c;
    height: 100vh;
}

.container {
    background-color: #fffefe;
    border-radius: 3em;
    padding: 1em;
}

.container__row {
    display: flex;
}

.container__row--column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 2em;
}

.container__row--column1 ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: none;
    padding: 0;
}

.container__row--column1 ul {
    display: flex;
    justify-content: center;
    align-items: left;
}

.container__row--column2 {
    display: flex;
    justify-content: right;
    align-items: center;
}

.container__row--column2 img {
    width: 75%;
}

.myForm {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.myForm__data {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.myForm__data label {
    font-weight: bold;
}

.myForm__data input {
    padding: 1em 1.5em 1em 1.5em;
    height: max-content;
    border-radius: 0.5em;
}

.myForm__data--head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#invalid-feedback {
    display: none;
}

#validateEmail {
    border: 1px solid rgb(0, 0, 0);
}

#validateEmail.invalid::placeholder {
    color: red;
}

.myForm__button button {
    background-color: black;
    color: white;
    width: 100%;
    padding: 1em 1.5em 1em 1.5em;
    height: max-content;
    border-radius: 0.5em;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    body {
        display: block;
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        justify-content: start;
        align-items: left;
        flex-direction: column;
        width: auto;
        height: 100vh;
        border-radius: 0%;
        padding: 0;
        margin: 0;
    }

    .container__row {
        flex-direction: column-reverse;
    }

    .container__row--column2 {
        display: flex;
        justify-content: left;
        height: 25vh;
    }
    .container__row--column2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}